[alias]
	st = status
	ci = commit
	br = branch -v
	co = checkout
	df = diff
	ds = diff --staged
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	l1 = "!git lg -1"
	l2 = "!git lg -2"
	l3 = "!git lg -3"
	l4 = "!git lg -4"
	l5 = "!git lg -5"
	l10 = "!git lg -10"
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
	ls = ls-files
	unstage = reset HEAD
	out = "!git log origin/master..$(git rev-parse --abbrev-ref HEAD)"
	in = "!git log $(git rev-parse --abbrev-ref HEAD)..origin/master"
	pull = pull --ff-only
	merge = merge --ff-only

	# Show files ignored by git:
	ign = ls-files -o -i --exclude-standard
	ca = commit -a --amend
	cane = commit -a --amend --no-edit
	ks = difftool -y -t Kaleidoscope
	vd = difftool -y -t vimdiff
	pr = pull --rebase
	prom = pull --rebase origin master
	prod = pull --rebase origin develop
	bl = branch --list -vv
	rc = rebase --continue
	alias = !sh -c 'git config --get-regexp ^alias\\.$1' -
	patchnotes = !sh -c 'git log --no-merges `git describe --abbrev=0 $1^`..$1' -
	#hist = !sh -c 'git rev-list @ $0 | echo sed '"'"'$2q\\;d'"'"'' -
	conflicts = diff --name-only --diff-filter=U
	#resolve = !sh -c 'git conflicts | xargs git add' -
	resolve = "!git conflicts | xargs git add"

[diff]
    renameLimit = 2000

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
 
[core]
	precomposeunicode = true
	excludesfile = /Users/amullings/.gitignore_global
[user]
	name = Adrian Mullings
	email = amullings@yext.com
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
