[user]
	name = Adrian Mullings
	email = adralemechk@gmail.com
[alias]
	# status
	st = status -sb
	ls = ls-files
	out = "!git log origin/master..$(git rev-parse --abbrev-ref HEAD)"
	in = "!git log $(git rev-parse --abbrev-ref HEAD)..origin/master"

	# show
	ss = show --stat

	# log
	lg = log --color --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lgg = "!git lg --graph"
	l1 = "!git lg -1"
	l2 = "!git lg -2"
	l3 = "!git lg -3"
	l4 = "!git lg -4"
	l5 = "!git lg -5"
	l10 = "!git lg -10"
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local

	# diffs
	df = diff
	ds = diff --stat
	kd = difftool -y -t Kaleidoscope
	km = mergetool -y -t Kaleidoscope
	vd = difftool -y -t vimdiff

	# commits
	ai = add -i
	cm = commit
	ca = commit -a
	cam = commit -a --amend
	cane = commit -a --amend --no-edit

	# merging
	pull = pull --ff-only
	merge = merge --ff-only
	pr = pull --rebase
	prom = pull --rebase origin master
	prod = pull --rebase origin develop
	ri = rebase -i
	rc = rebase --continue
	conflicts = diff --name-only --diff-filter=U
	resolve = "!git conflicts | xargs git add"

	# branches
	co = checkout
	cb = checkout -b
	bl = branch --list -vv
	br = branch -v
	bd = branch -d
	bdd = branch -D

	# meta
	alias = !git config --get-regexp ^alias\\.$1

	# misc
	ut = ls-files --others --exclude-standard
	ign = ls-files -o -i --exclude-standard # Show files ignored by git:
	patchnotes = !sh -c 'git log --no-merges `git describe --abbrev=0 $1^`..$1' -
	#hist = !sh -c 'git rev-list @ $0 | echo sed '"'"'$2q\\;d'"'"'' -

[diff]
    renameLimit = 2000

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto
	ui = true
 
[core]
	precomposeunicode = true
	excludesfile = ~/.gitignore_global
[difftool]
    # Be able to abort all diffs with `:cq` or `:cquit`
    trustExitCode = true
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
