packages: [
  "atom-fuzzy-grep"
  "auto-detect-indentation"
  "better-git-blame"
  "busy-signal"
  "close-all-errors"
  "dash"
  "emmet"
  "ex-mode"
  "firacode"
  "git-time-machine"
  "go-plus"
  "go-signature-statusbar"
  "greti-syntax"
  "hyperclick"
  "intentions"
  "isotope-ui"
  "language-soy"
  "linter"
  "linter-jshint"
  "linter-ui-default"
  "open-recent"
  "package-sync"
  "seti-syntax"
  "seti-ui"
  "vim-mode-plus"
  "zentabs"
]
